<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
  <section style="background:#fff; width: 600px; margin:0 auto;">
    <div style="border-bottom:1px solid #CBCBCB; margin:15px">
      <div style="padding:30px 15px 10px;">
        <img src='http://sortvest.com/img/logo_beta.png' alt='Sortvest' style="width:165px;">
        <p style="float:right;">
      </div>
      </div>
      <div style="padding:20px; text-align:center;">
    <img src='http://nanaimomarket.ca/sites/all/themes/nanaimomarket/images/email-success.png' height="150">
      </div>
      <div style="padding:20px;text-align:center;">
        <p style="color:#969696;font-size: 16px; margin:0 0 10px 0;">
          <%= content%>
       </p>
      </div>
      <div style="padding:20px;text-align:center;">
        <a href="<%= link%>" style="cursor:pointer;background-color:#3095c6;text-transform:uppercase;color:white;font-size: 14px; padding:14px;border-radius:5px;font-weight:400;text-decoration: none;">
          Verify Your Email Address
       </a>
      </div>

    <footer style="background:#fff;padding:10px 0 ">
<div style="padding:20px; float:right">
  <p style="font-family: Lato;color:#474d4f;font-size: 20px; text-transform:uppercase; font-weight: 400;line-height: 15px; margin:10px 0px;">You're Welcome,</p>
  <p style="color:#969696;font-size: 16px; text-align: center; margin:0 0 10px 0;">
  Sortvest Support</p>
</div>
    </footer>
  </section>
</body>

</html>
